.App {
  text-align: center;
  display: grid;
  grid-template-areas:
          "header header"
          "nav content";
  grid-template-columns: 116px 1fr;
  grid-template-rows: 92px 1fr;
  background: whitesmoke;
}

.header-container {
  grid-area: header;
}

.nav-container {
  grid-area: nav;
  min-height: calc(100vh - 92px);

}

.content-container {
  grid-area: content;
  background: white;
  min-height: calc(100vh - 92px);
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
